@charset "utf-8";

@font-face {
   font-family: Champagne;
   src: url('cac_champagne.woff') format('woff'),
   url('cac_champagne.ttf') format('ttf');
}
@font-face {
   font-family: Grunge;
   src: url('1942.woff') format('woff'),
   url('1942.ttf') format('tff');
}
@font-face {
   font-family: Dobkin;
   src: url('DobkinPlain.woff') format('woff'),
   url('DobkinPlain.ttf') format('tff');
}

/*
   New Perspectives on HTML5 and CSS3, 7th Edition
   Tutorial 2
   Case Problem 1
   
   PHCT Typographic Style Sheet
   Author: Dimend McClain 
   Date:   10/23/2024
   
   Filename: ph_styles.css

*/


/* Structural Styles */
html{
   background-color: hsl(91, 8%, 56%);
}
body{
   background-color: hsl(58, 31%, 84%);
   font-family: Palatino Linotype, Book Antiqua, Palatino, serif;
}
header{
   background-color: black;
}
p{
   margin: 0px;
   padding-top: 5px;
   padding-right: 25px;
   padding-left: 25px;
   padding-bottom: 25px;
}
body>p{
   font-size: 1.1em;
   text-align: center;
}


/* Navigation Styles */




/* Section Styles */




/* Description List Styles */

