@charset "utf-8";

/*
    Personal Index CSS portfolio for completed coursework in CSC230-Website Design
    Author: Dimend McClain
      Date:   12/9/2024

      Filename:   index.css
    

*/

/* Body Styles */
body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 16pt;
    background-color: #03002e;
    width: 85%;
	margin: auto;
    
}

h1{
    font-family: Arial;
    font-size: 22pt;
    text-align: left;
    letter-spacing: 2px;
    margin: 0px;
    padding: 15px 0px 0px 15px;
}

h3{
    font-family: Arial;
    font-size: 16pt;
}
h2{
    background-color: #d2d3db;
}

p{
    margin: 15px;
    padding: 15px;
}



/* Header Styles */
header h1{
    font-size: 36pt;
    margin: 35px 0px 0px 0px;
    padding: 15px 0px 0px 15px;
    background-color: #c1d8f0;
}

header h3 {
    font-size: 24pt;
    margin: 0px;
    padding: 0px 0px 15px 15px;
    background-color: #c1d8f0;
}





/* Navigation Styles */
nav{
    background-color: #c1d8f0;
    text-align: center;
    width: 25%;
    margin: 0px;
    padding: 0px;
}

nav ul {
    list-style-type: none;
}

nav a {
    text-decoration: none;

}

a:hover {
    color: #4663ac;
}


/* Section Styles */
section{
    background-color: #e4e5f1;
    align-content: right;
    width: 75%;
    padding: 15px;
    box-sizing: border-box;
}


/* Table Styles */
table{
    border: none;
    width: 90%;
    margin-left: 30px;
    padding: 2px 5px 5px 2px;
    border-spacing: 10px;
    border-collapse: collapse;
}


th{
    background-color: #d2d3db;
    text-align: center;
    font-weight: bold;
}

td{
    text-align: left;
    border: none;
}


.container{
    display: flex;
    height: 100%;
}

/*Footer Style*/
footer{
    background-color: #d2d3db;
    font-size: 12pt;
    text-align: center;
}