@charset "utf-8";

/*
    Personal Index CSS portfolio for completed coursework in CSC230-Website Design
    Author: Dimend McClain
      Date:   12/9/2024

      Filename:   index.css
    

*/


html, body {
    font-family: Verdana, Tahoma, Helvetica, sans-serif;
    font-size: 16px;
    background-color: #010048;
    width: 85%;
	margin: auto;
}

body img {
        position: absolute;
        width: auto;
        height: 39.5%;
        margin: 2% 2% 0% 2%;
    }




    
div#AboutMe h1, h3, p {
        position: relative;
        left: 30%;
        top: 190px;
    }


div#assignments{
    position: left;
	margin: 30% auto;
	border: 5px solid rgb(19, 62, 46);
    border-radius: 60px;
	width:80%;
    height: auto;
    
}
div#assignments li {
	margin-top: 5px;
    list-style-type: decimal;
    text-indent: 10px;
    font-weight: bold;
}

div#assignments ul {
	margin-top: 10px;
    list-style-type: circle;
    text-indent: 10px;
}

div#assignments a{
    text-indent: 20px;
    text-decoration: underline;
}

.paper {
    text-decoration: underline;
}






h2{
    text-decoration: underline;
    text-align: center;
}
a {
    text-decoration: none;
    color: hsl(216, 98%, 16%);
}

a:hover {
    color: hsl(220, 99%, 40%);
}


div h1 {
	font-size: 1.1em;
}

div p {
	font-size: 0.95em;
}
